 html {
 	background-color: yellow;
 }

 body {
 	width: 75%;
	margin: 0 auto; 
    margin-top: 60px;
 	background-color: #DF1F3D;
 }

 .container {
 	width: 90%;
 }

.instructions {
	color: white;
	font-family: Arial;
	font-size: 20px;
	padding-left: 10px;
}

 .newburger {
 	width: 40%;
 	float: left;
 }

.addburger {
	clear: both;
	display: block;
	border: 3px solid yellow;
	margin: 20px;
	padding: 10px;
}

 .devouredburger {
 	width: 40%;
 	float: right;
 }

 #cute_burger {
 	display: block;
    margin: auto;
 }

 h1 {
 	text-align: center;
 	color: yellow;
 	font-family: "Comic Sans MS", Calibri, Arial;
 	font-size: 65px;
 	margin-top: 10px;
 }

h2 {
  	color: white;
  	text-align: center;
 	font-family: "Comic Sans MS", Calibri, Arial;
 	font-size: 40px;
 	margin-top: 10px;
 }

 .burgerAvailable {
 	font-family: "Comic Sans MS", Calibri, Arial;
 	font-weight: normal;
 	font-size: 20px;
 	text-align: center;

 	border-radius: 5px;
 	width: 70%;
 	margin: 10px;
 	padding: 5px;
 	background-color: #FFFFFF;
 	border: none;
 }

 .burgerAvailable:hover {
 	background-color: #FAF2AC;
 }

 .burgerEaten {
 	font-family: "Comic Sans MS", Calibri, Arial;
 	font-weight: normal;
 	font-size: 20px;
 	text-align: center;

 	border-radius: 5px;
 	margin: 10px;
 	padding: 5px;
 	background-color: #ffd1c9;
 }

 

 .formContainer {
 	background-color: orange;
 }

 .addBurgerButton {
 	text-align: center;
 	font-family: "Comic Sans MS", Calibri, Arial;
 	font-weight: bold;
 	font-size: 20px;
 	text-align: center;

 	border-radius: 5px;
 	width: 50%;
 	margin: 0;
 	padding: 10px;
 	background-color: yellow;
 	border: none;
 }

.controls {
	text-align: center;
}




